<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.fusiondms.core.services">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".location.ForegroundLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="br.com.fusiondms.jornadatrabalho.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>
    </application>

</manifest>